.button-up {
    width: 60px;
    height: 60px;
    background:#1b2a4e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:20px ;
    position: fixed;
    bottom: 50px;
    right: 50px;
}