#span {
    color: blueviolet;
}
footer {
    background: #1b2a4e;
    min-height: 100px;
}
footer p {
    color: #f7f7f7;
    text-align: center;
}
.iconos {
    font-size: 26px;
    padding: 0 8px;
    color: #f7f7f7;
}